.search-bar{
    width: 500px;
    height: 36px;
    padding-left: 10px;
    margin-left: 160px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, alpha);  

}

.search-bar::placeholder{
    font-family: roboto,arial;
    font-size: 16px;
}


.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background-color: white;
}

.left-section{
    display: flex;
    align-items: center;
}

.lines-menu{
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
    cursor: pointer;
}

.lines-menu:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 500px;
}

.youtube-logo{
    height: 20px;
    cursor: pointer;
}

.middle-section{
  
    flex: 1 ;
    margin-left: 70px;
    margin-right: 35px;
    max-height: 500px;
    display: flex;
    align-items: center;overflow: hidden;

}

.search-button{
    height: 40px;
    width: 60px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;

}

.search-button,
.voice-button,
.upload-icon-container,
.youtube-logo-container,
.notif-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;


}

.search-button .tooltip,
.voice-button  .tooltip,
.upload-icon-container .tooltip,
.youtube-logo-container .tooltip,
.notif-icon-container .tooltip{
    font-family: roboto,arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -20px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-logo-container:hover .tooltip,
.notif-icon-container:hover .tooltip{
    opacity: 1;

}

.search-icon{
    height: 25px;
}

.voice-button{
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    background-color: rgb(rgb(245, 245, 245), green, blue);
    cursor: pointer;
}


.voice-icon{
    align-items: center;
    justify-content: center;
    height: 25px;
}



.right-section{
    width: 140px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    cursor: pointer;
}


.upload-icon{
    height: 30px;
}

.upload-icon:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 50px;
}

.app-icon{
    height: 30px;
}

.app-icon:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 50px;
}

.notif-icon{
    height: 30px;
}

.notif-icon:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 50px;
}

.notif-icon-container{
    position: relative;

}

.notif-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-family: roboto,arial;
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
}

.hu-lk{
    height: 30px;
    width: 23px;
    border-radius : 5000000px;
}
